.match {
  padding: 10px;
}
.chat__image {
  width: 60px;
  object-fit: contain;
  border-radius: 50%;
}
.match__image {
  width: 90px !important;
  height: 90px !important;
  font-size: 36px !important;
  object-fit: contain;
  border-radius: 50%;
}
.match__details > h2 {
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  max-width: 100px;
}
