.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #f9f9f9;
}

.header__logo {
  height: 30px;
  object-fit: contain;
  /* width: 60px; */
}

.header__icon {
  padding: 20px;
}
.header__icon:visited {
  color: #fe3c72;
}
.like__icon:visited {
  color: goldenrod;
}

.pink__color {
  color: #fe3c72;
}

.standard__color {
  color: rgba(0, 0, 0, 0.54);
}

.header__icon:focus {
  color: #fe3c72 !important;
}
